html, body {
    margin: 0;
    height: 100%;
}
a {
    color: inherit;
    text-decoration: inherit;
    display: block;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
.dark-mode{
    background: black;
    color: white
}
.white-mode{
    background: inherit;
    color: inherit
}