@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

html, body {
    margin: 0;
    min-height: 100vh;
}
a {
    color: inherit;
    text-decoration: inherit;
    display: block;
}
#app {
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: hsl(200, 15%, 8%);
    font-size: 14px;
    min-height: 100vh;
}
.dark-mode{
    background: hsl(200, 15%, 8%);
    color: hsl(0, 0%, 100%);
}

.white-mode{
    background: inherit;
    color: inherit;
}